<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hk_swatches" translate="label" sortOrder="10">
            <label>TBI</label>
        </tab>
        <section id="customswatches" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Swatches</label>
            <tab>mk_swatches</tab>
            <resource>HK_CustomSwatches::swatches_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Custom Option Swatches module on product details page.</comment>
                </field>
                <field id="option_swatches" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Option Swatches</label>
                    <comment>
                        <![CDATA[
                            <p>Format: <em>[option label]</em> : <em>[option value]</em> = <em>[option image]</em></p>
                            <p>Example:</p>
                            <p>
                            Size : Small = small.png<br/>
                            Color : Red = red.png<br/>
                            </p>
                            <p>Swatch images should be uploaded in <strong>pub/media/hk_option_swatches/</strong></p>
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>